.login-signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Assets/Blue\ Design.png');
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-wrap {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-header h2 {
    margin: 0;
    font-size: 24px;
}

.toggle-btn {
    background-color: #1161ee;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #0d50c9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn {
    background-color: #1161ee;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0d50c9;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}

.google-btn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.google-btn:hover {
    background-color: #c23321;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}

.password-input {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.7);
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.success-message {
    background-color: rgba(0, 128, 0, 0.7);
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}