.footer {
    /*background-image: linear-gradient( 91.2deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );;*/
    background-image: linear-gradient(to top, #327373 0%, #330867 100%);
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bolder;
}

.footer-left {
    flex: 1;
    font-family: Poppins;
}

.footer-website-name {
    font-size: 30px;
    font-weight: bold;
    font-family:Jumbo;
}

.footer-contact {
    margin-top: 10px;
}

.footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-address {
    text-align: right;
    font-family: Jumbo;
}

.location-icon {
    margin-right: 5px;
}
